#!/bin/bash
java_appdir="/home/{{ user_name }}/service_name"
java_arg1="-server -Dfile.encoding=utf-8"
java_arg2="-jar $java_appdir/service_name.jar start"
java_arg3="-Xms512m -Xmx4G -Xss4M -XX:PermSize=256m -XX:MaxPermSize=512m"
java_arg4="-cp $java_appdir/lib/*"
run_service="$java_arg1 $java_arg2 $java_arg3"
/bin/java $run_service >/dev/null 2>&1 &
echo $! > /home/{{ user_name }}/service_name/service_name.pid

