# location: /etc/systemd/system/
[Unit]
Description = service_name service
After=syslog.target network.target
[Service]
# make sure the shell script is executable (chmod +x $1)
# and it begins with a shebang (#!/bin/bash)
WorkingDirectory=/home/{{ user_name }}/service_name/
ExecStart=/home/{{ user_name }}/service_name/start.sh >/dev/null 2>&1 &
User={{ user_name }}
Group={{ user_name }}
Type=forking
# systemd gets to read the PID of daemon's main process
# see ExecStop and ExecReload
PIDFile=/home/{{ user_name }}/service_name/service_name.pid
[Install]
# multi-user.target corresponds to run level 3
# roughtly meaning wanted by system start
WantedBy    = multi-user.target
